a.extern,
#rex-page-square_shop #subpage-help a[href^="http://"],
#rex-page-square_shop #subpage-help a[href^="https://"] {
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAA8CAYAAACq76C9AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFFSURBVHjaYtTpO/CfAQcACCAmBjwAIIAY//9HaNTtP4hiCkAAMeGSAAGAAGJCl7hcaM8IYwMEEBMuCRAACCAmXBIgABBAKA5CBwABhNcrAAGEVxIggPBKAgQQXkmAAMIrCRBAeCUBAgivJEAA4ZUECCC8kgABhFcSIIDwSgIEEF5JgADCKwkQQHglAQIIryRAAOGVBAggvJIAAYRXEiCA8EoCBBBeSYAAwisJEEB4JQECiAVbNoABgADCqxMggPDmMoAAwpvLAAIIby4DCCC8uQwggPDmMoAAwpvLAAIIr1cAAgivJEAA4ZUECCC8kgABhFcSIIDwSgIEEF5JgADCKwkQQHglAQIIryRAAOGVBAggvJIAAYRXEiCA8EoCBBBeSYAAwisJEEB4JQECCK8kQADhlQQIILySAAGEVxIggPBKAgQYAARTLlfrU5G2AAAAAElFTkSuQmCC) no-repeat right 3px;
	padding-right: 10px;
}

#rex-page-square_shop div.rex-addon-content p.rex-code {
	margin-bottom: 22px;
	margin-top: 3px;
}

#rex-page-square_shop .addon-template h1 {
	font-size: 18px;
	margin-bottom: 7px;
}

#rex-page-square_shop #subpage-help a.rex-active {
    color: #14568A;
}

#rex-page-square_shop #subpage-help div.rex-addon-content {
    padding: 10px 12px;
}

#rex-page-square_shop #subpage-help div.rex-addon-content ul {
	margin-top: 0;
}

#rex-page-square_shop .rex-code {
	overflow: auto;
	white-space: nowrap;
}

#rex-page-square_shop p.logo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}

span.lower {
	font-size: 10px;
	color: grey;
}